body {
    min-width: 300px;
}

header
{
    padding: 20px 40px;
}

.logo-text-span {
    color: rgb(0, 174, 239);
    font-family: 'Segoe UI Web Light', 'Segoe UI Light', 'Segoe WP Light', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
    font-weight: normal;
    font-size: 28px;
}

#mainContent {
    position: relative;
    color: #404040;
    /* margin: 15px 30px; */
    float: left;
    width: 100%;
}

.content {
    position: relative;
    color: #404040;
    margin: 15px 30px;
    height: 100%;
}

#settings {
    width: 270px;
    margin-right: 20px;
}

#embedCodeDiv {
    width: 400px;
    margin-right: 20px;
    max-height: 300px;
    float: left;
}

#embedArea {
    clear: both;
    width: 100%;
    padding-left: 290px;
}

#reportContainer {
    width: 100%;
    height: 450px;
    background-color: white;
    padding: 0px;
    clear: both;
}

#logWindow {
    width: 400px;
    float: left;
}

.topPanel {
    margin-bottom: 10px;
}

.bottomPanel {
    width: 100%;
    margin-bottom: 10px;
    max-width: 100%;
}

#steps-nav-bar {
    width: 100%;
    font-size: 90%;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 20px;
    padding-right: 0;
    margin-right: 0;
}

#steps-ul li {
    width: 32%;
    display: inline-block;
}

@media screen and (max-width: 320px) {
    header
    {
        padding: 15px 30px;
    }

    .logo-text-span {
        font-size: 90%;
        line-height: 42px;
        min-width: 295px;
    }

    .topPanel {
        height: 430px;
        width: 100%;
    }

    #embedCodeDiv {
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0px;
    }

    #logWindow {
        width: 100%;
    }

    #settings {
        width: 100%;
        float: left;
        margin-right: 0px;
    }

    #reportContainer {
        width: 100%;
        height: 360px;
    }

    #embedArea {
        padding-left: 0px;
    }
}

@media screen and (max-width: 500px) {
    .top-ul li {
        float: left;
        margin-right: 15px;
        text-align: center;
        line-height: 22px;
        font-size: 13px;
    }
}

@media screen and (min-width: 321px) {
    header
    {
        padding: 15px 30px;
    }

    .logo-text-span {
        font-size: 110%;
        line-height: 42px;
        min-width: 295px;
    }

    .topPanel {
        height: 430px;
        width: 100%;
    }

    #embedCodeDiv {
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0px;
    }

    #logWindow {
        width: 100%;
    }

    #settings {
        width: 100%;
        float: left;
        margin-right: 0px;
    }

    #reportContainer {
        width: 100%;
        height: 360px;
    }

    #embedArea {
        padding-left: 0px;
    }   
}

@media screen and (min-width: 551px) {
    header
    {
        padding: 15px 10px;
    }

    .logo-text-span {
        font-size: 90%;
        line-height: 42px;
        min-width: 295px;
    }

    .topPanel {
        height: 330px;
        width: 100%;
    }

    #embedCodeDiv {
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0px;
    }

    #logWindow {
        width: 100%;
    }

    #settings {
        width: 100%;
        float: left;
        margin-right: 0px;
    }

    #reportContainer {
        width: 100%;
        height: 360px;
    }

    #embedArea {
        padding-left: 0px;
    }
}

@media screen and (min-width: 861px) and (max-width: 1023px) {
    header
    {
        padding: 20px 40px;
    }

    .logo-text-span {
        font-size: 28px;
    }

    #embedCodeDiv {
        width: 49%;
        font-size: 90%;
        margin-right: 2%;
    }

    #logWindow {
        width: 49%;
    }

    #settings {
        float: none;
        width: 380px;
    }

    #reportContainer {
        width: 100%;
        height: 360px;
    }

    #embedArea {
        padding-left: 0px;
    }
}

@media screen and (min-width: 1024px) {
    header
    {
        padding: 20px 40px;
    }

    .logo-text-span {
        font-size: 28px;
    }

    #mainContent {
        width: 86.7%;
        margin-left: 0.8%;
    }

    #embedCodeDiv {
        width: 34%;
        font-size: 90%;
        margin-right: 1%;
    }

    #logWindow {
        width: 34%;
    }

    #settings {
        float: left;
        width: 30%;
        margin-right: 1%;
    }

    #operations-ul li {
        margin: 0px 2px;
    }

    #reportContainer {
        width: 100%;
        height: 380px;
    }
    
    .bottomPanel {
        margin-left: 0;
        width: 100%;
    }

    #steps-nav-bar {
        width: 13.3%;
        font-size: 90%;
        padding-right: 0.8%;
        border-right: 1px solid #E5E5E5;
        border-bottom: none;
        margin-bottom: 0px;
    }

    #steps-ul li {
        width: 100%;
        display: block;
    }
}

@media screen and (min-width: 1280px) {
    .logo-text-span {
        font-size: 28px;
    }

    .content {
        margin: 15px 20px;
    }

    .bottomPanel {
        max-width: 100%;
        margin-left: 0px;
    }

    .steps-ul li {
        font-size: 17px;
    }
}


@media screen and (min-width: 1600px) {
    .logo-text-span {
        font-size: 28px;
    }

    .content {
        margin: 15px 40px;
    }
}

@media screen and (min-width: 1800px) {
    .logo-text-span {
        font-size: 28px;
    }

    #reportContainer {
        height: 450px;
    }
}