body {
    min-width: 300px;
}

header
{
    position: relative;
    height: 96px;

    background: #121212;
}

#navbar {
    width: 100%;
}

#top-ul-dev {
    position: relative;
    background: #121212;

    padding-top: 30px;
    padding-left: 24px;
}

.top-ul {
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
    line-height: 30px;
}

#mainContent {
    padding: 16px;
    display: table-cell;
    width: calc(100% - 128px);
    background: #F1F1F1;
}

#documentationContent {
    background: #F1F1F1;
    padding-left: 43px;
}

#contentWrapper {
    height: calc(100% - 96px);
}

.content {
    height: 100%;
    width: 100%;
    display: table;
}

#settings {
    margin-right: 20px;
    max-height: 330px;
    float: left;
    overflow: hidden;
}

#embedCodeDiv {
    margin-right: 20px;
    max-height: 330px;
    float: left;
    overflow: hidden;
}

#embedArea {
    clear: both;
    width: 100%;
}

.iframeContainer {
    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0px;
    clear: both;
}

.iframeContainer.active {
    display: block;
}

#logWindow {
    max-height: 330px;
    float: left;
    overflow: hidden;
}

.topFrame {
    display: table-cell;
    width: 32%;
    width: calc((100% - 40px)/3);
    height: 330px;
}

.topPanel {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 330px;
    margin-bottom: 10px;
}

.bottomPanel {
    width: 100%;
    margin-bottom: 10px;
    max-width: 100%;
}

#steps-nav-bar {
    width: 128px;
    display: table-cell;
    vertical-align: top;
    background: #212121;
}

#steps-ul {
    margin-top: 24px;
}

#steps-ul li {
    width: 100%;
}

