html {
    margin:0;
    padding:0;
    height:100%;
}

body {
    background-color: #212121;
    font-family: 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
    margin:0;
    padding:0;
    height:100%;
}

h3 {
    margin: 0;
}

hr {
    border-color: #DDDDDD;
}

header {
    display: block;
    width: 100%;
    z-index: 1030;
    color: rgb(8, 122, 165);
    background-color: rgb(24, 24, 25);
    height: 100px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.logo-text-span {
    position: relative;
    width: 480px;
    left: 24px;
    padding-top: 8px;

    font-family: 'Segoe UI', sans-serif;
    line-height: normal;
    font-size: 24px;
    color: #FFFFFF;
}

#nextStep {
    float: right;
}

#result-wrap {
    margin-top: 10px;
}

#user-embed-details {
    width: 100%;
}

#user-embed-details tr {
    width: 100%;
}

#user-embed-details input[type="text"] {
    width: 100%;
    border: none;
    margin-bottom: 5px;
}

.embed-table, #qna-embed-table {
    width: 100%;
}

.embed-table tr, #qna-embed-table tr {
    width: 100%;
}

#dashboard-embed-table {
    width: 100%;
}

#dashboard-embed-table tr {
    width: 100%;
}

#tile-embed-table {
    width: 100%;
}

#tile-embed-table tr {
    width: 100%;
}

.inputLine > span {
    width: 30%;
}

.embed-table input[type="text"] {
    width: 73%;
    border: none;
    margin-bottom: 5px;
}

#qna-embed-table input[type="text"] {
    width: 73%;
    border: none;
    margin-bottom: 5px;
}

#dashboard-embed-table input[type="text"] {
    width: 73%;
    border: none;
    margin-bottom: 5px;
}

#tile-embed-table input[type="text"] {
    width: 73%;
    border: none;
    margin-bottom: 5px;
}

#report-embed-checkbox input {
    width: auto;
    border: none;
    margin-bottom: 5px;
}

#oldSample {
    display: block;
    float: right;
    margin-right: 30px;
}

#sampleReportImgDiv img {
    width: 265px;
    height: 180px;
}

#sampleReportImgDiv {
    margin-top: 17px;
    margin-right: 32px;
    float: left;
}

#sampleReportDescription {
    float: left;
    margin-top: 17px;
    max-width: 400px;
}

a {
    text-decoration: none;
}

.btn.btn-margin {
    margin-bottom: 5px;
}

.halfWidth.right {
    width: 750px;
    min-height: 100px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.halfWidth.left {
    width: 750px;
    min-height: 100px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 40px;
}

.break-float {
    clear: both;
    width: 100%;
}

.pbi-line {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

#top-nav-bar a {
    color: white;
    display: inline-block;
}

#steps-nav-bar a {
    color: white;
    font-family: 'Segoe UI', sans-serif;
    line-height: normal;
    font-size: 15px;
}

#steps-nav-bar .active {
    color: white;
}

.main-ul {
    list-style-type: none;
    margin: 0px 30px;
    padding: 0;
    overflow: hidden;
    float: right;
}

.main-ul .active {
    background-color: rgb(245, 211, 65);
}

.main-li {
    float: left;
}

.main-li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

.main-li a:visited {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    background-color: rgb(245, 211, 65);
}

.main-li a:hover {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    background-color: rgb(245, 211, 65);
}

.main-li a:active {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    background-color: rgb(245, 211, 65);
}

.main-title {
    font-family: 'Segoe UI Web Light', 'Segoe UI Light', 'Segoe WP Light', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.top-ul li {
    float: left;
    width: 120px;
    text-align: center;
    line-height: 18px;
    font-size: 15px;
    font-family: 'Segoe UI Semibold', 'Segoe UI', sans-serif;
}

#top-docs {
    margin-right: 0px;
}

.top-li-active {
    color: white;
    border-bottom: 2px solid #F2C811;
    padding-bottom: 6px;
}

#steps-ul-dev {
    width: 100%;
}

.steps-ul {
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
    line-height: 30px;
    width: 100%;
}

.steps-ul li {
    float: none;
    text-align: left;
    line-height: 22px;
    font-weight: 400;
    height: 48px;
    width: 100%;
    margin-bottom: 10px;
    vertical-align: middle;
}

#steps-interact {
    margin-right: 0px;
}

.steps-li-active {
    color: white;
    text-decoration: none;
    background-color: #121212;
}

.operations-div {
    height: 100%;
    width: 100%;
    text-align: center;
    overflow-y: scroll;
    position: relative;
}

#wrapper-operations-div {
    padding: 10px 20px 15px 8px;
    background-color: white;
    width: 100%;
    height: 305px;
    overflow: hidden;
    display: inline-block;
}

#highlighter {
    padding: 10px 20px 15px 20px;
    background-color: white;
}

#operation-categories::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: transparent;
}

#operation-categories::-webkit-scrollbar 
{
    width: 6px;
    height: 10px;
    background-color: transparent;
}

#operation-categories::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #E1E1E1;
}

#txtCode::-webkit-scrollbar-track, #txtResponse::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

#txtCode::-webkit-scrollbar, #txtResponse::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background: transparent
}

#txtCode::-webkit-scrollbar-thumb, #txtResponse::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #E1E1E1;
}

.newOperation span {
    padding-right: 10px;
}

.newOperation img {
    vertical-align: center;
}

.function-ul {
    width: 100%;
    clear: both;
    margin: 0;
    padding: 0px 20px 0px 35px;
    font-size: 12px;
}

.operations-ul {
    width: 100%;
    clear: both;
    margin: 0;
    padding: 0px 20px 0px 0px;
}

.function-ul li, .operations-ul li {
    width: 100%;
    clear: both;
    cursor: default;
    overflow: hidden;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
    margin: 5px 0px;
    text-align: left;
    padding: 3px 3px 0 0;
}

.operations-ul > li:before {
    content: " ";
    background: url('../images/expand.svg') center left;
    background-repeat: no-repeat;
    background-size: 8px 12px;
    padding-right: 25px;
    color: black;
}

.operations-ul > li.active:before {
    background: url('../images/collapse.svg') center left;
    background-repeat: no-repeat;
    background-size: 12px 8px;
}

.operations-ul a {
    text-decoration: none;
    color: rgb(27, 27, 27);
}

.function-ul .active, .function-ul .active a {
    color: #3E65FF;
    font-weight: bold;
}

.td-field-name {
    width: 130px;
    text-align: right;
    color: #888888;
    padding-right: 5px;
}

.pageTitle {
    margin-bottom: 10px;
}

.pageTitle h3 {
    margin-bottom: 15px;
    font-weight: normal;
}

.newItem h3 {
    display: inline-block;
}

.newItem img {
    margin: 0 0 10px 5px;
}

.editorTitle {
    margin-bottom: 5px;
    font-weight: bold;
}

#GoToInteractStep {
    display: inline-block;
    position: relative;
}

.textAreaControls {
    background-color: #FAFAFA;
    position: relative;
    z-index: 1;
    height: 40px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
}

.textAreaControl {
    background-color: transparent;
    border: none;
    outline:none;
    margin-right: 40px;
}

.textAreaControl img {
    width: 20px;
    height: 16px;
    position: relative;
    top: -2px;
    padding-right: 3px;
    right: 2px;
    object-fit: scale-down;
}

.responseTextAreaWrapper {
    padding: 10px 20px 15px 20px;
    background-color: white; 
}

.responseTextArea {
    width: 100%;
    height: 240px;
    border: none;
    position: relative;
    overflow-y: auto;
    resize: none;
}

#highlighter {
    height: 265px;
}

.responseDiv {
    width: 100%;
    float: left;
}

.authorizeButton {
    background-color: #333333;
    border: none;
    color: white;
    padding: 5px 30px;
    width: 225px;
}

.blueButton {
    background-color: rgb(36, 169, 225);
    border: none;
    color: white;
    padding: 5px 30px;
}

.spacer {
    height: 10px;
}

.scrollbar
{
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

#txtCode {
    width: 100%;
    height: 240px;
    border: none;
    position: relative;
    background: white;
	overflow-y: auto;
}

#authStepDiv {
    max-width: 500px;
}

.embed-table .inputLine {
    margin: 5px 0px;
}

#dashboard-embed-table .inputLine {
    margin: 5px 0px;
}

#tile-embed-table .inputLine {
    margin: 5px 0px;
}

#qna-embed-table .inputLine {
    margin: 5px 0px;
}

.pageTitle h4 {
    font-size: 18px;
    font-weight: normal;
    margin: 0px 0px 5px 0px;
}

.top-div {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: white;
    border: solid black 1px;
}

.active-top {
    background-color: rgb(36, 169, 225);
}

.step-div {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: white;
    border: solid black 1px;
}

.active-step {
    background-color: rgb(36, 169, 225);
}

.editorTitleText {
    display: inline-block;
}

.checkbox.input {
    width: auto;
}

.stepsButton {
    height: 100%;
    padding: 16px 0px 0px 16px;
    line-height: 20px;
}

.video {
    width: 90%;
    height: 500px;
    max-width: 800px;
}

.title {
    font-size: 17px;
    font-weight: 400px;
}

#createModeInput {
    display: none;
}

.inputLineTitle {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}

.inputLineBody {
    display: inline-block;
}

#modeSelector {
    margin-bottom: 15px;
    cursor: default;
}

.desktop-view iframe {
    border: none;
}

#qna-embed-table .spacer {
    height: 5px;
}

#questionDiv {
    margin-bottom: 10px;
}

.infoImg {
    width: 16px;
    margin-bottom: 3px;
}

.mobile-view {
    display: none;
    background: #FFFFFF;
    padding: 16px;
}

.desktop-view {
    display: none;
    background: #FFFFFF;
    height: 85vh;
}

.mobile-view.active, .desktop-view.active {
    display: block;
}

.phone-frame {
    border-radius: 30px;
    background: #EAEAEA;
    width: 408px;
    width: 44vh;
    height: 787px;
    height: 85vh;
    margin: auto;
}

.phone-top {
    position: relative;
    width: 100%;
    height: 48px;
}

.phone-bottom {
    position: relative;
    width: 100%;
    height: 72px;
}


.phone-speaker{
    position: relative;
    width: 48px;
    height: 8px;
    background: #C4C4C4;
    border-radius: 4px;
    margin: auto;
    top: 21px;
}

.phone-screen {
    position: relative;
    width: 375px;
    height: 667px;
    width: calc(100% - 33px);
    height: calc(100% - 120px) !important;
    margin: auto;
    background: #FFFFFF;
}

.phone-button {
    position: relative;
    width: 40px;
    height: 40px;
    background: #C4C4C4;
    border-radius: 50%;
    margin: auto;
    top: 16px;
}
