body {
    padding: 2em 0;
}

.powerbi-container {
  height: 600px;
}
.powerbi-container iframe {
  border: none;
}

#reportslist {
    margin: 0 0 1em 0;
}
#reportslist li {
    margin: 1em 0;
}
.reportslistdescription {
    margin: 1em 0 0 0;
    font-weight: bold;
}
.report-name {
    display: inline-block;
    margin: 0 1em;
    font-weight: bold;
}
.checkbox {
    margin-left: 1em;
}

.reportpageslist {
    display: flex;
    margin-top: 2em;
}
.reportpageslist__pages {
    flex: 1;
}

.reportpageslist__pages button {
    margin-left: 1em;
}
.reportpageslist__pages button.btn-success.active {
    background-color: red;
}
.reportpageslist__cycle {
    margin-right: 1em;
}
.reportpageslist__cycle.btn-warning.active {
    background-color: red;
}

.filters > * + * {
    margin-top: 1em;
}
.filter {
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.filter__remove {
    float: right;
}
.filter__text {
    margin-right: 3em;
    word-break: break-all;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 90%;
}